.workspace-details-description
  color $disabled-color

.workspace-details-content
  background-color $white-color !important
  padding 0 14px

  button
    margin-left 0
    margin-right 0
    margin-bottom 16px

  .workspace-status-indicator .fa-circle
    font-size 19px

  span.workspace-status-text
    color lighten($che-ide-background-color, 40%) !important
    margin-bottom 4px
    margin-left 10px

  .workspace-delete-label label
    color $che-delete-label-color

  .che-label-container-content
    .workspace-details-input
      margin-top -6px
    .workspace-details-action-buttons
      margin-top 15px
